@model JurisprudenceFinal.Models.CaseModelClass

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/materialize.min.css" rel="stylesheet" />
    <title>Assign</title>
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        body {
            background: #fff;
        }

        .input-field input[type=date]:focus + label,
        .input-field input[type=text]:focus + label,
        .input-field input[type=email]:focus + label,
        .input-field input[type=password]:focus + label {
            color: #e91e63;
        }

        .input-field input[type=date]:focus,
        .input-field input[type=text]:focus,
        .input-field input[type=email]:focus,
        .input-field input[type=password]:focus {
            border-bottom: 2px solid #e91e63;
            box-shadow: none;
        }
    </style>
</head>

<body>
    <div class="section"></div>
    <main>
    <center>
        <div class="indigo-text">
            <h3>Assign</h3>
        </div>

      <div class="container">
        <div class="card-panel ">
             <form class="" id="form1" method="post">
                 <div class="row">
                     <div class="col s6">
                          <table>
                    <tr>
                        <td><span>Case Name</span></td>
                        <td>
                            @Html.HiddenFor(model => model.CaseID)
                            @Html.TextBoxFor(model => model.CaseName)
                           </td>
                    </tr>
                    <tr>
                        <td><span>Role</span></td>
                        <td>
                             

                        </td>
                    </tr>
                    
                </table>
                        
                     </div>
                  

                            <div>
                                 @ViewBag.Message
                                <button type='submit' name='btn_login' class='btn btn-large  waves-effect indigo'>Add Role</button>
                                 @Html.ActionLink("Cancel", "AssignUserRoles","Home", new { @class="waves-effect btn-large  waves-light btn red"})
                     
                     
                                         </div>

                     <div>
                                    </div>
                     </div>
          </form>
        </div>
      </div>
    </center>
  </main>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/js/materialize.min.js"></script>
    <script>
       
    </script>
</body>
</html>
