@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <title>Search</title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/app.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/materialize.min.css" rel="stylesheet" />
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        body {
            background: #fff;
        }

        .input-field input[type=date]:focus + label,
        .input-field input[type=text]:focus + label,
        .input-field input[type=email]:focus + label,
        .input-field input[type=password]:focus + label {
            color: #e91e63;
        }

        .input-field input[type=date]:focus,
        .input-field input[type=text]:focus,
        .input-field input[type=email]:focus,
        .input-field input[type=password]:focus {
            border-bottom: 2px solid #e91e63;
            box-shadow: none;
        }
    </style>
</head>

<body>
    <div class="section"></div>
    <main>
    <center>
        <div class="indigo-text">
            <h3>Search</h3>
        </div>

      <div class="container">
        <div class="card-panel " ng-app="myApp" ng-controller="userCtrl">
             <form class="col s12" id="form1" method="post">
                    <div class="row">
                       
                            <div class="col s4 offset-s4">
                          
                      Search by Case Name:   <input id="search" type="search" ng-model="search">
                     </div>
                       
                     
                        </div>
                 <div class="row">
                   
                     <div class="col s12">
                       
                  
                         <table>
                <thead>
                    <tr>
                        <td>CaseID</td>
                        <td>Name</td>
                        <td>Lawyer</td>
                        <td>Case Type</td>
                        <td>Case Details</td>
                        
                       
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="usr in users | filter : { CaseName:search} | orderBy : 'CaseName'">
                        <td>{{usr.CaseID}}</td>
                        <td>{{usr.CaseName}}</td>
                        <td>{{usr.Lawyer}}</td>
                        <td>{{usr.CaseType}}</td>
                        <td>{{usr.CaseDetails}}</td>
                       
                       
                    </tr>
                </tbody>
            </table>
        </div>
                     </div>

                 </form>
                     <div>
                                    </div>
                     </div>
          <center>
                  @Html.ActionLink("Cancel", "Index", "Home","", new { @class = "waves-effect waves-light btn btn-large   red " })
                           
          </center>
        </div>
       
    </center>
  </main>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
          
        })
        jQuery('.numbersOnly').keyup(function () {
            this.value = this.value.replace(/[^0-9]/g, '');
        });
    </script>
</body>
</html>
